/* variables */
:root{
    --header-color: black;
    --header-edit-color: black;
}

/* class styles */
.header{
    height: 60px;
    width: 100%;
    background: var(--header-color);
}

.inner_header{
    display: flex;
    height: 100%;
    width: 500px;
    margin: 0 auto;
    background: var(--header-edit-color);
    justify-content: flex-start;
}

.header_text{
    height: 100%;
    display: table;
    float: left;
    background: var(--header-edit-color);
    font-weight: 32;
    font-family: serif;
}

.header_text h2{
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}